---
import HtmlLayout from '../layouts/HtmlLayout.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';

const pageTitle = 'Jon Van Dam';

const projects = await Astro.glob('./*/*.md');
---

<HtmlLayout pageTitle={pageTitle} onHomePage={true}>
  <header class="w-full">
    <Header project={undefined} chapterIds={undefined} />
  </header>

  <main class="w-full h-full flex-grow">
    <div class="py-20 flex flex-col gap-16 px-8">
      <div class="text-center">
        <h1 class="text-3xl sm:text-5xl mb-4 font-bold text-primary">Documentation</h1>
        <h2 class="text-base sm:text-lg text-tertiary">Guides, tutorials and how-to's for our BluePrint Components</h2>
      </div>
      <div class="flex flex-wrap justify-center items-center gap-16">
        {
          projects
            .sort((a, b) => (a.frontmatter.title.localeCompare(b.frontmatter.title) ? -1 : 1))
            .map((project) => {
              return (
                <a href={project.url}>
                  <div class="shadow-md rounded-lg w-[300px] h-[170] sm:w-[400px] sm:h-[230px] overflow-hidden">
                    <img
                      src={project.frontmatter.thumbnail}
                      class="hover:opacity-80 transition-all h-full w-full object-cover"
                    />
                  </div>
                </a>
              );
            })
        }
      </div>
    </div>
  </main>

  <Footer project={undefined} />
</HtmlLayout>
