---
import HtmlLayout from './HtmlLayout.astro';
import Prose from '../components/Prose.astro';
import Footer from '../components/footer/Footer.astro';
import Header from '../components/header/Header.astro';
import Navigation from '../components/navigation/Navigation.astro';
import SearchModal from '../components/modal/SearchModal.astro';
import TableOfContents from '../components/table-of-contents/TableOfContents.astro';

const { frontmatter, headings } = Astro.props;

const sideBarWidth = 300;

const projectId = frontmatter.url.split('/')[1];

const getAllArticlePaths = import.meta.glob('../pages/*/*/*.md');

let chapterIds: string[] = [];

for (const path in getAllArticlePaths) {
  if (path.includes(projectId)) {
    const chapter = path.split('/')[3];
    if (!chapterIds.includes(chapter)) {
      chapterIds.push(chapter);
    }
  }
}
---

<HtmlLayout pageTitle={frontmatter.title}>
  <header class="header-wrap bg-body border-b border-primary shadow-sm">
    <Header chapterIds={chapterIds} onHomePage={false} />
  </header>
  <div class="mt-16 flex-1 max-w-[90rem] mx-auto px-8">
    <div
      class="hidden md:block fixed inset-0 top-16 left-[max(0px,calc(50%-45rem))] right-auto py-6 pb-10 pl-8 pr-6 overflow-y-auto border-r border-primary"
      style={{ width: sideBarWidth + 'px' }}
    >
      <Navigation chapterIds={chapterIds} />
    </div>
    <div class="pl-0 md:pl-80 xl:pr-72" style={{ minHeight: 'calc(100vh - 64px)' }}>
      <div class="flex flex-col" style={{ minHeight: 'calc(100vh - 64px)' }}>
        <main class="py-10 flex-1">
          <div class="mt-2 mb-10">
            <h1 class="text-3xl font-bold">{frontmatter.title}</h1>
          </div>
          <Prose>
            <slot />
          </Prose>
        </main>
        <Footer />
      </div>
    </div>
    {
      headings.length ? (
        <aside class="hidden xl:block fixed inset-0 w-[300px] top-16 right-0 left-auto py-10 pb-10 pl-4 pr-6 overflow-auto z-20 text-sm">
          <TableOfContents headings={headings} />
        </aside>
      ) : null
    }
  </div>
  <SearchModal projectId={projectId} />
</HtmlLayout>
